body {
    background-color: lightgray;
}

.display-1{    
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
    background-color: black;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    outline-style: outset;
    outline: darkseagreen outset 5px;
}



h1{
    text-align: center;
    color: mediumseagreen;
    font-family: monaco,Consolas,Lucida Console,monospace; 
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-position: under;
    
}

h2{
    background-color: black;
    color: mediumseagreen;
    font-family: monaco, Consolas, Lucida Console, monospace;
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-position: under;
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
    outline: darkseagreen 5px;
    outline-style: outset;
}

p {
    font-family: monaco, Consolas, Lucida Console, monospace;;
    color: black;    
}

#bulk {
    display: flex;
    flex-direction: row;
}

#color-selector {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
    margin: 2%;
    
}


#all-palettes {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 2%;

}

.initial-color,
.save-button,
.individual-color {
    height: 100%;
}

.palette {
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 7%;
    
}

.palette p {
    background-color: white;
    padding-left: 5px
}

.initial-color {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    width: 20%;
    outline: solid;
}

.save-button {
    width: 15%;
    margin-left: 10px;
}

.individual-color {
    flex-grow: 1;
    outline: solid;
    width: 20%;
}

.palette-name {
    padding: 0;
    margin: 0;
    top: -15px;
    left: 0px;
    height: 35px;
    width: 200px;
    background-color: black;
    font-size: 15px;
    color: mediumseagreen;
    text-align: center;
    padding-top: 5px;
    font-family: monaco, Consolas, Lucida Console, monospace;
    text-decoration: underline;
    text-decoration-style: double;
    background: border-box black;
    margin-bottom: 7px;
    text-underline-position: under;
    outline: outset darkseagreen;
}



#inner-color-selector {
    position: relative;
    left: 10px;
    top: 30px;
}

.gradients,
#base-color {
    width: 300px;
    height: 300px;
    position: absolute;
}

#pointer {
    position: absolute;
    height: 3px;
    width: 3px;
    outline: 2px solid white;
    border-radius: 3px;
    z-index: 2;
}

#slider-background {
    position: absolute;
    left: 325px;
    width: 30px;
    height: 300px;
    background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
}

#slider {
    position: absolute;
    top: 0px;
    left: 325px;
    width: 30px;
    height: 3px;
    background-color: black;
    z-index: 1;
}

.gradient1 {
    z-index: 0;
    background: linear-gradient(to right, #FFFFFFFF 0%, #FFFFFF00 100%);
}

.gradient2 {
    z-index: 1;
    background: linear-gradient(to bottom, #00000000 0%, #000000FF 100%);
}

#compliment-save {
    color: mediumseagreen;
    background-color: black;
    outline: double;
    outline-color: black;
    border-color: white;
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-position: under;
    font-family: monaco, Consolas, Lucida Console, monospace;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#triadic-save {
    color: mediumseagreen;
    background-color: black;
    outline: double;
    outline-color: black;
    border-color: white;
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-position: under;
    font-family: monaco, Consolas, Lucida Console, monospace;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#monochrome-save {
    color: mediumseagreen;
    background-color: black;
    outline: double;
    outline-color: black;
    border-color: white;
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-position: under;
    font-family: monaco, Consolas, Lucida Console, monospace;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.modal-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}



button.btn.btn-primary {
    color: mediumseagreen;
    background-color: black;
    outline: double;
    outline-color: black;
    border-color: white;
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-position: under;
    font-family: monaco, Consolas, Lucida Console, monospace;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#explanationModal {
    outline: double;
    outline-color: black;
    border-color: white;
}

#saved-color-palettes {
    outline: double;
    outline-color: black;
    border-color: white;
}

@media screen and (max-width: 992px) {
    #bulk {
        flex-direction: column;
    }

    #color-selector,
    #all-palettes {
        width: 90%;
    }

    .palette {
        margin-bottom: 5%;
    }

    #color-selector{
        height: 350px;
    }

    #inner-color-selector {
        top: 0px;
    }

    .display-1{
        display: inline-block;
        margin: 0px;
        margin-left: 24px;
    }

}

@media screen and (max-width: 768px) {
    
    .display-1{
        display: inline-block;
        margin: 0px;
        margin-left: 24px;
    }

    #triadic-save {
        font-size: 13px;
    }

    #compliment-save {
        font-size: 13px;
    }

    #monochrome-save {
        font-size: 13px;
    }
}
